<div class="row">
	<div style="padding-top:45px;" class="col-md-12">
		<p>
		I did this to try and help myself weed through the various versions of what is and is not a valid or meaningful COVID statistic or statement. If you are viewing this it is becuse you have my permision to do so.  
		</p>
		<p>
		I make no guarentees about the truth of data shown. But any data or documents diplayed will be referenced from will be footnoted. I am not trying to push any agenda other then best evidence.
		</p>
		<p>
		So enjoy and reach out if you believe I have erroneously quoted any reference. If you do not like any opionin I may share, keep it to yourself. I still believe that I have the right to my opinions provided I am not harming anyone.   It's good to be King of the website!
		</p>
		<p>
		Enjoy!.
		</p>
	</div> <!-- end of col 6 -->
</div>